body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: rgb(60, 163, 177);
  }
  h1 {
    text-align: center;
  }
  .head{
    margin-left: 50%;
  }
  #addTaskForm {
    margin-bottom: 20px;
  }
  #taskList {
    list-style: none;
    padding: 0;
  }
  .task {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .task span {
    flex-grow: 1;
  }
  .task button {
    margin-left: 10px;
  }
  .task.completed span {
    text-decoration: line-through;
    opacity: 0.7;
  }
  #allTasks {
    margin-top: 20px;
  }



  @media (max-width: 768px) {
    .head {
      margin-left: 0;
    }
    #addTaskForm {
      margin-bottom: 0;
    }
    #taskList {
      list-style: none;
      padding: 0;
      width: 100%;
    }
    .task {
      display: block;
      margin-bottom: 10px;
    }
    
    .task button {
      margin-left: 0;
    }
    
  }